html[data-dark-mode-enabled] 
	#page > .content,
	body #app #page #navigation
{
    background-color: #ffffff;
    filter: invert(100%) hue-rotate(180deg);
}

/* dialog when you select an event to expand it */
html[data-dark-mode-enabled]
	div[role=dialog],
	span.raw-event-contents-clamp_c169e,
	.raw-event_c08be .raw-event-contents_c071f
{
    background-color: #222222 !important; /* without important the background is white and messes up when filtering */
}

/* dialog event names and values */
html[data-dark-mode-enabled] dt.raw-event-field-name-highlighted_d6745 {
	color: #2373ff;
}
html[data-dark-mode-enabled] dd.raw-event-field-value-highlight-string_c3f31 {
	color: #ff8b00;
}
